# Postgres env

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Path for postgres docker volumes
PROJECT_ROOT=

# Goose migrations

GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=

# Postgres connection pool init

DB_URL=